*{margin:0; padding: 0; box-sizing: border-box;}

body{
    height: 100vh;
    background: linear-gradient(rgb(26, 134, 177), rgb(6, 35, 43));
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: rgb(238, 98, 80);
    padding: 1.5rem 0;
    text-align: center;
}
header h1{
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgb(26, 134, 177);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    height: 50vh;
}
input, button{
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: .3rem .5rem;
    text-align: center;
    box-shadow: 2px 2px 5px #000;
}